<!-- <header>
    <ul class="nav justify-content-end bg-info" >
        <i class="fa-solid fa-language fa-xl" style="color: white; margin-top: 20px;"></i>&nbsp;
        <li class="nav-item">
            <select class="form-select form-select-sm bg-info" style="margin-top: 5px; border: none; color: white; display: inline;">
                <option selected><a class="nav-link" href="#" style="color: white;">FR</a></option>
                <option value="saab">EN</option>
            </select>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" style="color: white;"><i class="fas fa-bell"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" style="color: white;"><i class="fa-solid fa-message"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" style="color: white;"><i class="fa-solid fa-user"></i></a>
        </li>
    </ul>
</header>
<nav class="navbar" style="float: left;">
    <div class="container-fluid">
      <ul class="navbar-nav" style="border-right: 2px solid #ccc; padding-right: 25px;">
        <li class="nav-item">
          <a class="nav-link" href="#">Link 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link 3</a>
        </li>
      </ul>
    </div>
</nav> -->
<section>
    <router-outlet></router-outlet>
</section>