table
{
    margin: 25px;
    width: 95%;
    border: 1px solid #ccc;
    border-collapse: collapse;
}

th, td
{
    border-bottom: 1px solid #ddd;
    padding: .35em;
    width: 50%;
    height: 50px;
}

td
{
    text-align: center;
}